body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #9c8383;
}

#container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 77, 165);
    border: 10px solid #ffffff;
    transition: background-color 0.3s;
}

#text {
    font-size: 20px;
    margin-bottom: 20px;
}

#toggleButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#toggleButton.active {
    background-color: #28a745;
}
